.burger-button {
	position: relative;
	display: block;
	width: 2.25em;
	height: 2.25em;
	margin: auto;
	cursor: pointer;
	/* z-index: 2000; */
}
.burger-button * {
	cursor: inherit;
}
.burger-button input,
.burger-button label {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.burger-button input {
	-webkit-appearance: none;
	appearance: none;
}
.burger-button input:focus-visible {
	outline: 0;
}

.burger-button * {
	line-height: 1px;
}

.burger-icon-wrapper {
	position: absolute;
}

.burger-icon {
	display: block;
	background: transparent;
	width: 100%;
	fill: currentColor;
	line-height: 3px;
}

.burger-button .line {
	/* transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms; */
	transition: 0.5s;
	transform-origin: center;
}

/* .burger-button:has(.burger-switcher:checked) .line {
	fill: var(--color-marker);
} */

.burger-button:has(.burger-switcher:checked) :is(.top, .bottom) {
	y: 45;
}

.burger-button:has(.burger-switcher:checked) .top {
	rotate: 45deg;
}

.burger-button:has(.burger-switcher:checked) .middle {
	opacity: 0;
}

.burger-button:has(.burger-switcher:checked) .bottom {
	rotate: -45deg;
}
