---

---
<style>
  footer {
    min-height: 5em;
    background-color: #cfcabd;
  }
  .flex-center {
    height: 100%;
    gap: 4em;
  }
</style>

<footer>
  <div class="flex-center">
    <div>Impressum</div>
    <div>Datenschutz</div>
    <div>Kontakt</div>
  </div>
</footer>