---

type TMenuItem = { name: string, url: string};
const Menu: Array<TMenuItem> = [ {name: 'Startseite', url: ''}, {name: 'Service', url: 'service'}, {name: 'Team', url: 'team'}, {name: 'Objekte', url: 'objekte'}, {name: 'Kontakt', url: 'kontakt'}];

const pathname: string = new URL(Astro.request.url).pathname;
const currentPath: string[] = pathname.split("/").filter(Boolean);

import { DAHM_HAUSVERWALTUNG } from "@scripts/consts";
import DahmLogo from '@assets/logo-text3.svg?url'
import BurgerButton from "@components/burger_button/burger_button.astro";

import Dahm from "@data/dahm.json"

---

<style>
  header {
    width: 100%;
    /* height: clamp(2.5em, 5.2vw, 3.5em); */
    height: min-content;
    max-width: 100vw;
    top: 0;
    align-items: center;
    z-index: 100;
    position: fixed;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    font-weight: 500;
  }
  @supports (font-variation-settings: 'wdth' 115) {
    header {
      font-size: calc(var(--font-size) * 0.85);
      font-weight: 540;
      font-stretch: 103%;
      font-optical-sizing: auto;
    }
  }
  ul.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    align-items: center;
    height: 100%;
    color: #373737;
  }
  ul.nav-list > li {
    padding: 0 0.65em;
  }
  ul.nav-list li {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }

  .menu-item-desktop {
    display: none;
  }
  .menu-item-desktop a {
    padding: 0.15em 0;
  }
  .logo {
    margin: auto 0;
    padding: 0.4em 1em;

  }
  .nav-logo-text {
    display: block;
    width: calc(var(--font-size) * 3.5);
  }
  .logo svg {
    height: var(--header-height);
  }
  .h2em {
    min-height: 2.25em;
    min-width: 2.25em;
  }
  .round-border {
    border: 1px solid #3737375d;
    border-radius: 9999px;
  }
  .phone-number-text {
    padding: 0.2em 0.5em;
    display: none;
  }
  @media screen and (min-width: 630px) {
    .phone-icon {
      display: none;
    }
    .phone-number-text {
      display: block;
    }
  }
  .phone-number svg,
  .email-address svg {
    width: 2em;
    height: 1.15em;
  }
  header a.active_link {
    border-bottom: 1.5px solid var(--color-marker);
  }
  .menu-mobile {
    display: block;
  } 
  .menu-mobile > .round-border {
      padding: 0 0.5em;
  } 
  .global-menu-layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    bottom: 0;
    z-index: 90;
    /* background-color: antiquewhite; */
    background-color: #a4a4a464;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }

  ul.global-menu {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    /* text-align: right; */
    align-items: start;
    padding: calc(var(--header-height) + 1em ) 0.65em 0.8em 0.7em;
    font-size: calc(var(--font-size) * 1.5);
  }
  .global-menu a {
    padding-left: calc(0.6em + 3px);
  }
  .global-menu a.active_link {
    padding-left: 0.6em;
    border-left: 3px solid var(--color-marker);
  }
  @media screen and (max-width: 535px) {
    body:has(#burger-button:checked) .global-menu-layer {
      display: block;
    }
  }
  @media screen and (min-width: 535px) {
    .menu-item-desktop {
      display: block;
    }
    .menu-mobile {
      display: none;
    }
    .global-menu-layer {
      display: none;
    }
    li:has(.email-address) {
      padding-right: 1.5em;
    }
  }

  li,
  li * {
    transition:
			color 400ms ease-out,
			fill 400ms ease-out,
      border-color 400ms ease-out;
  }

  @media (hover: hover) {
    li:hover,
    li:hover * {
      transition:
        color 500ms ease-out,
        fill 500ms ease-out,
        border-color 500ms ease-out;
      color: var(--color-dahm-bordo);
      fill: var(--color-dahm-bordo);
      border-color: var(--color-dahm-bordo);
    }
    /* .fv:hover {
      box-shadow: 1px 2px 6px #6060607a;
    } */
  }

  a:focus-visible {
    outline: none;
  }
  a:focus-visible .fv,
  .fv:focus-visible,
  .fv:has(a:focus-visible),
  .fv:has(input:focus-visible) {
    outline: 1px solid var(--color-dahm-bordo);
    outline-offset: 0;
  }

</style>

<header>
  <nav>
    <ul class="nav-list">
      <li class="logo">
        <a href={"/"} aria-label={DAHM_HAUSVERWALTUNG}>
          <svg class="nav-logo-text fv">
            <use href={DahmLogo+'#logo-text'}></use>
          </svg>
        </a>
      </li>
      {
        Menu.map(menuItem => {
          return(
            <li class="menu-item-desktop fv"><a href={"/" + menuItem.url} class:list={[{active_link: (currentPath.length === 0 && menuItem.url === '') || (currentPath.length > 0 && currentPath[0] === menuItem.url) }]}>{menuItem.name.toUpperCase()}</a></li>
          );
        })
      }
      <li class="flex-spreader"></li>
      <li>
        <a class="flex-center round-border h2em phone-number fv" href={"tel: " + Dahm.telephone}>
          <span class="phone-number-text">{Dahm.telephone}</span>
          <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
          </svg>
        </a>
      </li>
      <li>
        <a class="flex-center round-border h2em email-address fv" href={"mailto: " + Dahm.email}>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
          </svg>
        </a>        
      </li>
      <li class="menu-mobile">
        <div class="flex-center round-border h2em fv" ><BurgerButton id="burger-button"/></div>
      </li>
    </ul>
  </nav>
</header>
<nav>
  <div class="global-menu-layer">
    <ul class="global-menu">
    {
      Menu.map(menuItem => {
        return(
          <li class="menu-item-mobile fv"><a href={"/" + menuItem.url} class:list={[{active_link: (currentPath.length === 0 && menuItem.url === '') || (currentPath.length > 0 && currentPath[0] === menuItem.url) }]}>{menuItem.name}</a></li>
        );
      })
    }
    </ul>
  </div>
</nav>