---

---
<style>
  .p-thin {
    font-size: 1.5em;
    font-weight: 300;
    font-optical-sizing: auto;
    font-variation-settings: "opsz" 120;  
  }
  p.info {
    font-size: 1.1em;
    font-weight: 540;
  }
</style>

<section class="main">
  <h1>Willkommen bei der Hausverwaltung Dahm aus Hagen</h1>
  <p class="info">Ihr kompetenter Partner</p>
  <p>Seit 1991 bieten wir Ihnen mit unserer langjährigen Erfahrung eine kompetente und zuverlässige Verwaltung Ihrer Immobilie in Hagen und Umgebung.</p>
  <p>Mit unserem persönlichen Engagement und dem Einsatz neuester Abrechnungssysteme gewährleisten wir unseren Mandanten eine moderne und zeitgemäße Verwaltung ihrer Immobilie.</p>
  <p>Durch Zusammenarbeit mit Wirtschaftsprüfern, Banken und Anwaltskanzleien erreichen wir eine umfassende Betreuung und Beratung rund um Ihre Immobilie.</p>
  <p class="info">Vertrauen und Zuverlässigkeit sind das Fundament unserer Arbeit.</p>
</section>
