---
// import "@styles/font.css"
// import "@styles/init.css"
import "@styles/dahm.css"

import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Head from "@components/head.astro";

import DahmBulding from "@assets/building_dahm2.jpg"
const { title, description, robots = "index, follow" } = Astro.props;

import { Picture } from 'astro:assets'

---

<style>
	/* body {
		margin: 0;
	} */
	body {
		--color-dahm-background: #d8d5cd;
		/* --color-dahm-background: #ded7cd; */
		/* background-color: #dbd6d0; */
		background-color: var(--color-dahm-background);
	}
	.main-content-wrapper {
		display: grid;
		place-items: center;
		width: 100%;
	}
	.main-content {
		width: 100%;
		max-width: 1100px;
		padding: 2.5em;
		padding: clamp(1.3em, 5vw, 2.5em);
	}
	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
	main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

</style>

<html lang='de'>
	<Head title={title} description={description} robots={robots} />

	<body>

		<script>
		// import { initPage } from "@scripts/antrepriza.js"
			document.addEventListener('DOMContentLoaded', () => {
				// initPage();
			});
		</script>

		<Header/>
		<main>
			<div class="dahm-building">
				<Picture 
					class:list={'image-wrapper-landscape cover-image'} 
					src={DahmBulding} 
					formats={['webp']} 
					fallbackFormat='jpg'
					loading="eager"
					widths={[360, 480, 600, 760, 960, 1200, 1600]}
					sizes={'(max-width: 360px) 360px, (max-width: 480px) 480px, (max-width: 600px) 600px, (max-width: 760px) 760px, (max-width: 960px) 960px, (max-width: 1200px) 1200px, 1600px'}
					quality="100"
					alt='' />
			</div>
			<div class="main-content-wrapper">
				<div class="main-content">
					<slot/>
				</div>
			</div>
		</main>
		<Footer/>

		<!-- <input type="checkbox" id="theme-switcher" tabindex="-1" aria-label='Themaänderung: dunkel oder hell' checked/> -->
	</body>
	
</html>