---
import Logo from '@assets/logo.svg?url'

---
<style>
  p {
    font-size: 1.2em;
    font-weight: 300;
  }
  li {
    margin: 0.5em 0;
    padding: 0.1em 0 0.5em 3em;
    background-image: url('/assets/logo.svg');
    background-position: 0 0;
    background-size: 1.7em 1.5em;
    background-repeat: no-repeat;
  }
</style>

<section class="service">
  <h1>Verwaltung von Immobilien</h1>
  <p>Sie planen eine Immobilie professionell verwalten zu lassen, haben aber noch keine Informationen diesbezüglich gesammelt?</p>
  <h3>Unser Service für Sie:</h3>
  <ul>
    <li>Wir führen die Betreuung Ihrer Immobilie ganz nach Ihren Wünschen durch</li>
    <li>Wir koordinieren die Handwerker bei beispielsweise Instandsetzungen und  Erneuerungen Ihrer Immobilie sowie bei  Mieterwechsel</li>
    <li>Wir sind der Ansprechpartner rund um Ihre Immobilie und für Ihren Mieter</li>
    <li>Wir erledigen den Schriftverkehr mit den Mietern und überprüfen stetig den Geldeingang, falls erforderlich die Inanspruchnahme der Hilfe eines geeigneten Rechtsanwaltes</li>
    <li>Durchführung und Berechnung der Betriebskosten</li>
    <li>Abschluss und Kündigung von Mietverträgen</li>
    <li>Überprüfung und Geltendmachung von Mieterhöhungsmöglichkeiten</li>
    <li>Überwachung des baulichen Zustandes und Vergabe notwendiger Reparatur Maßnahmen unter Berücksichtigung vorliegender Gewährleistungsansprüche</li>
    <li>Abschluss von Wartungsverträgen, Überwachung der Einhaltung der Verträge</li>
    <li>Durchführung von Wohnungsübergaben bei Einzug und Wohnungsabnahme bei Auszug von Mietern einschließlich der Anfertigung eines geeigneten Protokolls</li>
    <li>Monatliche Objektbesichtigung zur Klärung aller Objektbezogener Probleme</li>
    <li>Wahrnehmung der Rechte des Auftraggebers gegenüber allen Behörden einschließlich Grundbuchämtern, Hypotheken- und Darlehensgläubigern, Lieferanten, Handwerkern sowie Mietern und Pächtern</li>
  </ul>
</section>
